[Unit]
Description=TG bot
After=network.target

[Service]
ExecStart=/root/chat-gpt_chats_explorer/start_bot.sh
WorkingDirectory=/root/chat-gpt_chats_explorer  # your working directory
User=root
Restart=always

[Install]
WantedBy=multi-user.target