[Unit]
Description=TG bot
After=network.target

[Service]
ExecStart=/bin/bash -c 'cd /root/chat-gpt_chats_explorer && ./start_bot.sh'
User=root
Restart=always

[Install]
WantedBy=multi-user.target